<p id="notice"><%= notice %></p>

<% date = @start_date %>

<% while date <= @end_date %>
  
  <h3>Hot searches of <%= date %> (USA)</h3>
  <ol>
    <% @hottrends.each do |h| %>
      <% if h.date == date %>
      <li>
        <%= h.text %>
      </li>
      <% end %>
    <% end %>
  </ol>
  <% date = date.+(1) %>

<% end %>
